html{
  height: 100%;
}
body{
  width: 75%;
  border: 2px solid black;
  margin: auto;
  min-height: 100%;
  overflow-x: hidden;

}

#headerColumn{
text-align: center;
background-color: skyblue;
width: 80.0%;
margin-left: 10px;
margin-right: 10px;
height: 100px;

}
#pingPong-form{
  width: 200px;
}
