body{
  width: 75%;
  border: 2px solid black;
  margin: auto;
  height: 1000px;;
}

#headerColumn{
text-align: center;
background-color: skyblue;
width: 80.0%;
margin-left: 10px;
margin-right: 10px;
height: 100px;

}
#pingPong-form{
  width: 200px;
}
